@font-face {
    font-family: 'Satisfy';
    src: url('Satisfy-Regular.woff2') format('woff2'),
        url('Satisfy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

